.row
  .small-12.large-10.columns.large-offset-1
    %h1
      Welcome to DC Tech People
    %p
      The goal of this site is to use data to highlight issues regarding gender and minority inclusion in the Washington DC tech community. Please feel free to extend this project as you see fit-
      = link_to "https://github.com/scottrblock/DC-Tech-People" do
        GitHub Source
        %i.fa.fa-github
    %h3
      Taking a look at AngelList Data
    %p
      = link_to "AngelList", "http://angel.co" 
      is a social network that connects startups with investors. They provide an API to access their data, which we dive into below:
    %p
      There are
      %strong.total-people
        = total_users
      people on AngelList who claim to live in the Washington DC region. They have DC listed as either their first or only location.
    %p
      We use 
      = link_to "Genderize.io", "http://genderize.io"
      to predict if a user is male or female. If their data determines someone's
      first name to have a 75% or higher probability of a given gender, we
      include them in our analysis.
    %p
      Genderize.io determined the gender with at least 75% probability for
      %strong.total-people-with-gender
        = total_users_that_have_gender
      people.
    %p
      Of the 250 people analyzed,
      %strong.number-females
        = num_gender("female")
        were female
      and
      %strong.number-males
        = num_gender("male")
        were male
      \:
    = render "/users/gender_graphic", {:female_count => num_gender("female"), :male_count => num_gender("male")}
    %p
      We define a leader as someone who has more than 1,000 followers on AngelList.
      Of
      %strong.total-leaders
        = total_leaders
      total leaders,
      %strong.leader-female
        = num_gender_who_is_leader("female")
        were female
      and
      %strong.leader-male
        = num_gender_who_is_leader("male")
        were male
      \:
      = render "/users/gender_graphic", {:female_count => num_gender_who_is_leader("female"), :male_count => num_gender_who_is_leader("male")}



